<!-- HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header>
	<a class="logo" href="/yts"><img src="/images/yts_logo.png" alt="YTS Logo" /></a>
	<h1><%= title %> | <%= channel %></h1>
	<a class="root" href="/">Back to root</a>
</header>